<!-- <?xml version="1.0" encoding="UTF-8"?>
<configuration>
<location path="." inheritInChildApplications="false">
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="test">
                    <match url="^(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www.ucare-medical.com$" />
                    </conditions>
                    <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>

    </system.webServer>
</location>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <error statusCode="403" subStatusCode="4" path="https://www.ucare-medical.com/" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration> -->
